/target
/*.sketch
/*.gz
/*.fasta
/*.fa
/*.sig
/test.*
.github/copilot-instructions.md
/testout
/tools/out
/tools/target
/tools/Cargo.lock
tests/testfiles/chromosomes_small.fasta
tests/testfiles/plasmidscope_clean_50MB.fasta